<html>
<head>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/fontawesome-all.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins|Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" href="/css/index_style.css"/>
</head>
<body class="text-center m-0 p-0">
    
    <div id="ContainHr"></div>
    <!-- First Section -->
    
    <div id="Contain">
    
    
   <section id="Reg">
    <div class="Dad p-5 text-center">
        <div id="logo">
            <img src="images/apple-desk-laptop-macbook.jpg" />
        </div>
        <form id="employeeform">
            <h2 class="p-2 font-weight-bold">HR-System</h2>
            <h4 class="font-weight-bold pb-4">Register Form</h4>
       <div class="form-group UserN pt-3">
        <div class="row">
           <div class="col-md-4">
            <label class="font-weight-bold">User Name</label>
            </div>
            <div class="col-md-8">
            
                <input class="form-control" name="user" id="user" type="text"/>
                
            </div>
           </div>
        </div>
        
        
        <div class="form-group UserP">
        <div class="row">
           <div class="col-md-4">
            <label class="font-weight-bold">Password</label>
            </div>
            <div class="col-md-8">
            
                <input class="form-control" name="pass" id="pass" type="password"/>
                
            </div>
           </div>
        </div>
        
        

        <div class="form-group UserId">
        <div class="row">
           <div class="col-md-4">
            <label class="font-weight-bold">User Id</label>
            </div>
            <div class="col-md-8">
            
                <input class="form-control" name="company_id" id="company_id" type="text"/>
                
            </div>
           </div>
        </div>
       
       
        
        
        <div class="form-group UserFN">
        <div class="row">
           <div class="col-md-4">
            <label class="font-weight-bold">First Name</label>
            </div>
            <div class="col-md-8">
            
                <input class="form-control" name="fname" id="fname" type="text"/>
                
            </div>
           </div>
        </div>
        
        
        <div class="form-group UserLN">
        <div class="row">
           <div class="col-md-4">
            <label class="font-weight-bold">Last Name</label>
            </div>
            <div class="col-md-8">
            
                <input class="form-control" name="lname" id="lname" type="text"/>
                
            </div>
           </div>
        </div>
       
       <div class="form-group Usersb">
            <input class="btn btn-primary px-4 py-2" id="Usersub" type="submit"  value="Register"/>
        </div>
            
            <br/><br/>
        <div class="form-group Userlg">
            <a class="text-primary font-weight-bold" id="UserLog"><i class="fas fa-long-arrow-alt-left py-2 px-1"></i> Log In</a>
        </div>
        
        
        
       </form>
       </div>
    
    
    </section>
    
    
    
    
    
    
    
    <!-- Register Ends -->




<!-- Log In --> 
    
    <section id="Log">
    <div class="Dad p-5 text-center">
        <div id="logo1">
            <img src="images/apple-desk-laptop-macbook.jpg" />
        </div>
        <form id="logform">
            <h2 class="p-2 font-weight-bold">HR-System</h2>
            <h4 class="font-weight-bold pb-4">Log Form</h4>
       <div class="form-group UserN pt-4">
        <div class="row">
           <div class="col-md-4">
            <label class="font-weight-bold">User Name</label>
            </div>
            <div class="col-md-8">
            
                <input class="form-control" name="userl" id="userl" type="text"/>
                
            </div>
           </div>
        </div>
        
        
        <div class="form-group UserP">
        <div class="row">
           <div class="col-md-4">
            <label class="font-weight-bold">Password</label>
            </div>
            <div class="col-md-8">
            
                <input class="form-control" name="passl" id="passl" type="password"/>
                
            </div>
           </div>
        </div>

       
       <div class="form-group Usersb">
            <input class="btn btn-primary px-4 py-2" id="Usersub1" type="submit" value="Log In"/>
        </div>
            
            <br/><br/>
        <div class="form-group Userlg">
            <a class="text-primary font-weight-bold" id="UserLog1">Register <i class="fas fa-long-arrow-alt-right py-2 px-1"></i></a>
        </div>
        
        
        
       </form>
       </div>
    
    
    </section>
    

    
    
    

    
</div>
    
   
    
    
    
    
    
    
   
    
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
<script src="/js/mine.js"></script>
<script src="/js/postlogin.js"></script>
<script src="/js/postsign.js"></script>
<script src="/js/posttask.js"></script>
<script src="/js/postemp.js"></script>
</body>
